.movies-card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies-—Åard-list__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  justify-content: center;
  justify-items: center;
  width: 100%;
  box-sizing: border-box;
  grid-column-gap: 30px;
  grid-row-gap: 90px;
  padding: 80px 0 72px;
}

.movies-card-list__button {
  box-sizing: border-box;
  width: 320px;
  height: 36px;
  border: 1px solid #424242;
  background-color: inherit;
  color: #fff;
  border-radius: 6px;
}