.movies-card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies-сard-list__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 360px));
  justify-content: center;
  justify-items: center;
  width: 100%;
  box-sizing: border-box;
  grid-column-gap: 30px;
  grid-row-gap: 46px;
  padding: 84px 0 64px;
  margin: 0 auto;
}

.movies-card-list__button {
  box-sizing: border-box;
  width: 320px;
  height: 36px;
  border: 1px solid #424242;
  background-color: inherit;
  color: #fff;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
}

.movies-card-list__button_type_hidden {
  display: none;
}