.movies-card {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

.movies-card__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: relative;
}

.movies-card__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}

.movies-card__info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  width: 320px;
}

.movies-card__title {
  margin: 14px 0 0;
  font-size: 13px;
  font-weight: 500;
}

.movies-card__duration {
  font-size: 11px;
  font-weight: 400;
  line-height: 10px;
  color: #8b8b8b;
  width: 44px;
  height: 12px;
  text-align: center;
  background-color: #2f2f2f;
}

.movies-card__button {
  position: absolute;
  top: 14px;
  right: 22px;
  color: #fff;
  background-color: inherit;
  border-radius: 16px;
  border: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 11px;
  width: 72px;
  height: 21px;
  opacity: 0;
}

.movies-card__button:hover {
  cursor: pointer;
  opacity: 1;
}

.movies-card__button-delete {
  background-size: 21px 21px;
  background-image: url('../../images/save3.svg');
  background-color: inherit;
  right: 14px;
}

.movies-card__button-save {
  background-size: 72px 21px;
  background-image: url('../../images/save3d.svg');
}

.movies-card__button-save_active {
  background-image: url('../../images/save3.svg');
}