.movies-card {
  width: 360px;
  position: relative;
}

.movies-card__image {
  width: 360px;
  height: 201px;
  border-radius: 6px;
}

.movies-card__info {
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
}

.movies-card__title {
  margin: 14px 0 0;
  font-size: 13px;
  font-weight: 500;
}

.movies-card__duration {
  display: block;
  padding: 3px 4px;
  border-radius: 3px;
  color: #8b8b8b;
  font-weight: 400;
  font-size: 11px;
  line-height: 10px;
  background-color: #2f2f2f;
}

.movies-card__button {
  position: absolute;
  padding: 6px 7px;
  top: 14px;
  right: 10px;
  color: #fff;
  background-color: #2f2f2f;
  border-radius: 30px;
  border: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 11px;
  width: 72px;
  height: 21px;
  cursor: pointer;
  visibility: hidden;
  text-align: center;
}

.movies-card:hover .movies-card__button {
  visibility: visible;
}

.movies-card__button:hover {
  cursor: pointer;
  opacity: 1;
}

.movies-card__button-delete {
  position: absolute;
  top: 14;
  right: 14px;
  /* background-image: url('../../images/save3d.svg'); */
  border: none;
  border-radius: 50px;
  display: block;
}

.movies-card__button-save {
  position: absolute;
  top: 14px;
  right: 14px;
  background-image: url('../../images/save3.svg');
  width: 21px;
  height: 21px;
  border: none;
  border-radius: 50px;
  display: block;
  text-align: center;
  
}