.movies-card {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.movies-card__image {
  width: 100%;
  height: 201px;
  border-radius: 8px;
  object-fit: cover;
}

.movies-card__info {
  display: flex;
  justify-content: space-between;
  padding: 0 14px 0;
}

.movies-card__title {
  font-size: 13px;
  font-weight: 500;
  max-width: 240px;
  margin-bottom: 0;
  margin-top: 10px;
}

.movies-card__duration {
  display: block;
  padding: 3px 4px;
  border-radius: 3px;
  color: #8b8b8b;
  font-weight: 400;
  font-size: 11px;
  line-height: 10px;
  background-color: #2f2f2f;
  width: 42px;
  text-align: center;
  height: 12px;
}

.movies-card__button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 72px;
  height: 21px;
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../images/button-save.svg');
  border: none;
  visibility: hidden;
  border-radius: 36px;
  padding: 0;
  margin: 0;
}

.movies-card:hover .movies-card__button {
  visibility: visible;
}

.movies-card__button:hover {
  cursor: pointer;
  opacity: 1;
}

.movies-card__button-save {
  background-image: url('../../images/button-save.svg');
}

.movies-card__button-save:hover{
  background-image: url('../../images/save-active.svg');
}

.movies-card__button-save_active {
  top: 14px;
  right: 14px;
  width: 21px;
  height: 21px;
  background-image: url('../../images/save-active.svg');
  visibility: visible;
}

.movies-card__button-delete {
  top: 14px;
  right: 14px;
  width: 21px;
  background-image: url("../../images/button-delete.svg");
}

.movies-card:hover .movies-card__button-delete {
  visibility: visible;
}

@media screen and (max-width: 768px) {
.movies-card__info {
  padding: 0;
}

  .movies-card__title {
    margin-top: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 250px;
  }

  .movies-card__duration {
    margin-top: 24px;
  }

  .movies-card__button {
    visibility: visible;
  }

  .movies-card__button-delete {
    visibility: visible;
  }
}

@media screen and (max-width: 320px) {
  .movies-card__info {
    padding: 0;
  }
  
    .movies-card__title {
      margin-top: 14px;
      font-size: 12px;
    }
  
    .movies-card__duration {
      margin-top: 14px;
    }
  }