.movies-card {
  width: 100%;
  position: relative;
}

.movies-card__image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.movies-card__info {
  display: flex;
  justify-content: space-between;
  padding: 0 14px 0;
}

.movies-card__title {
  font-size: 13px;
  font-weight: 500;
  max-width: 240px;
  margin-bottom: 0;
  margin-top: 10px;
  /* text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; */
}

.movies-card__duration {
  display: block;
  padding: 3px 4px;
  border-radius: 3px;
  color: #8b8b8b;
  font-weight: 400;
  font-size: 11px;
  line-height: 10px;
  background-color: #2f2f2f;
  width: 42px;
  text-align: center;
  height: 12px;
}

.movies-card__button {
  position: absolute;
  padding: 6px 7px;
  top: 14px;
  right: 10px;
  color: #fff;
  background-color: #313131;
  border-radius: 30px;
  border: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 11px;
  width: 72px;
  height: 21px;
  cursor: pointer;
  visibility: hidden;
  text-align: center;
}

.movies-card:hover .movies-card__button {
  visibility: visible;
}

.movies-card__button:hover {
  cursor: pointer;
  opacity: 1;
}

.movies-card__button-delete {
  position: absolute;
  top: 14px;
  right: 14px;
  background-image: url('../../images/delete-button.svg');
  width: 21px;
  height: 21px;
  border-radius: 50px;
  display: block;
  cursor: pointer;
  visibility: hidden;
  border: none; 
}

.movies-card:hover .movies-card__button-delete {
  visibility: visible;
}

.movies-card__button-save {
  position: absolute;
  top: 14px;
  right: 14px;
  background-image: url('../../images/button-save.svg');
  width: 21px;
  height: 21px;
  border: none;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
.movies-card__info {
  padding: 0;
}

  .movies-card__title {
    margin-top: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 250px;
  }

  .movies-card__duration {
    margin-top: 24px;
  }
}