.portfolio {
  box-sizing: border-box;
  padding: 0px 0 46px;
  margin: 100px 70px 0;
}

.portfolio__title {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8b8b8b;
}

.portfolio__projects {
  margin: 50px 0 0;
  padding: 0;
}

.portfolio__project {
  margin: 20px 0 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-bottom: 19px;
  border-bottom: 1px solid #424242;
}

.portfolio__project:first-of-type{
  margin: 0;
}

.portfolio__project:last-of-type{
  padding-bottom: 0;
  border: none;
}

.portfolio__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -1.2px;
}

.portfolio__link {
  width: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .portfolio {
    margin: 90px 50px 0;
  }

  .portfolio__subtitle {
    font-size: 28px;
    letter-spacing: -1.12px;
  }
}