.intro {
  box-sizing: border-box;
  background-color: #272727;
  display: flex;
  padding: 126px 0 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 40px;
}

.intro__title {
  max-width: 730px;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  text-align: center;
  margin-bottom: 152px;
  letter-spacing: -2px;
}

@media screen and (max-width: 768px) {
  .intro {
    margin-left: 20px;
    margin-right: 20px;
  }

  .intro__title {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.6px;
    max-width: 680px;
    margin: 226px 0 312px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    margin-left: 14px;
    margin-right: 14px;
    padding-bottom: 12px;
  }

  .intro__title {
    font-size: 29px;
    line-height: 37px;
    letter-spacing: -1.16px;
    margin: 90px 0 208px;
  }
}