.header {
  display: flex;
  align-items: center; 
  margin: 18px 70px 38px;
}

@media screen and (max-width: 768px) {
  .header {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 17px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin-left: 14px;
    margin-right: 14px;
  }
}