.burger {
  z-index: 3;
  transition: 0.3s ease;
}

.burger__backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.burger__container{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #202020;
  width: 68%;
  height: 100%;
}

.burger__button-close {
  border: none;
  background-repeat: none;
  background-color: inherit;
  background-image: url('../../images/button-close.svg');
  width: 32px;
  height: 32px;
  position: absolute;
  top: 23px;
  right: 23px;
  padding: 0;
}

.burger__menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  margin-top: 90px;
}

.burger__menu__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 6px;
  color: #fff;
  transition: 0.3s ease;
}

.burger__menu__link_active {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  padding-bottom: 4px;
  border-bottom: 2px solid #fff;
  transition: 0.3s ease;
}

.burger__button-account{
  padding: 8px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  border: none;
  border-radius: 20px;
  background-color: #313131;
  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 90px;
}

@media screen and (min-width: 769px) {
  .burger {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .burger__button-close {
    top: 13px;
    right: 13px;
  }

  .burger__container {
    width: 100%;
  }

  .burger__menu {
    margin-top: 145px;
    gap: 18px;
  }

  .burger__button-account {
    margin-bottom: 270px;
  }
}