.project {
  margin: 110px 70px 0;
}

.project__about {
  display: flex;
  justify-content: space-between;
  margin: 72px 0 110px;
}

.project__description {
  max-width: 550px;
}

.project__title {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.8px;
  margin:0 0 26px 0;
}

.project__text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.project__duration {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 4fr;
  grid-template-rows: 36px 31px;
}

.project__line {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__line_type_short {
  background-color: #3ddc84;
  color: #000;
}

.project__line_type_long {
  background-color: #303030;
  color: #fff;
}

.project__part {
  font-weight: 500;
  color: #8b8b8b;
  font-size: 14px;
  line-height: 17px;
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .project__about {
    margin-bottom: 94px;
  }

  .project__description {
    max-width: 320px;
  }

  .project__title {
    margin-bottom: 22px;
  }

  .project__text {
    font-size: 12px;
    line-height: 18px;
  }
}