.register {
  padding: 70px auto 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 396px;
  margin: auto;
}

.register__title {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px; 
}

.register__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.register__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
  margin-bottom: 8px;
  line-height: 30px;
}

.register__input {
  font-weight: 400;
  font-size: 14px;
  padding: 15px;
  margin-bottom: 4px;
  box-sizing: border-box;
  background-color: #2f2f2f;
  border: none;
  border-radius: 8px;
  color: #fff;
  width: 100%;
}

.register__input:focus{
  outline: none;
  border-bottom: 1px solid  #000 ;
}

.register__error {
  height: 12px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  margin-bottom: 4px;
}

.register__submit-button {
  height: 45px;
  color:#fff;
  background-color: #4285F4;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  text-align: center;
  padding: 13px 0 15px;
  margin-top: 80px;
}

.register__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8b8b8b;
}

.register__link {
  color: #4285F4;
  text-decoration: none;
  margin-left: 6px;
}