.footer {
  width: 100%;
  box-sizing: border-box;
  padding: 0px 30px 20px;
  margin-top: auto;
}

.footer__title {
  box-sizing: border-box;
  margin: 0;
  font-weight: 400;
  line-height: 16px;
  color: #8B8B8B;
  text-align: center;
  border-bottom: 1px solid #424242;
  padding: 0 0 20px;
  font-size: 13px;
  font-weight: 400;
}

.footer__container {
  margin: 20px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
}

.footer__year {
  margin: 0;
}

.footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer__item {
  margin: 0 20px 0 0;
}

.footer__item:last-of-type{
  margin: 0;
 }