.footer {
  box-sizing: border-box;
  padding: 158px 0 20px;
  margin-top: auto;
  margin: 0 70px;
}

.footer__save-movies {
  margin: 244px 70px 20px;
}

.footer__title {
  box-sizing: border-box;
  margin: 0;
  font-weight: 400;
  line-height: 16px;
  color: #8B8B8B;
  text-align: center;
  border-bottom: 1px solid #424242;
  padding: 0 0 20px;
  font-size: 13px;
  font-weight: 400;
}

.footer__container {
  margin: 20px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
}

.footer__year {
  margin: 0;
}

.footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer__item {
  margin: 0 20px 0 0;
}

.footer__item:last-of-type{
  margin: 0;
 }

 @media screen and (max-width: 768px) {
  .footer {
    padding-top: 124px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .footer__save-movies {
    margin: 196px 30px 20px;
  }
 }

 @media screen and (max-width: 320px) {
  .footer {
    padding-top: 122px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .footer__title {
    font-size: 12px;
  }

  .footer__container {
    flex-direction: column-reverse;
    justify-content: end;
    font-size: 12px;
  }

  .footer__year {
    margin-top: 22px;
  }

  .footer__links {
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    margin-top: 10px;
  }

  .footer__item {
    margin:0 0 14px;
  }
 }