.techs {
  background-color: #272727;
  color: #fff;
  margin-top: 110px;
  padding: 100px 70px;
  position: relative;
  letter-spacing: -0.88px;
}

.techs__header {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  margin: 0;
  padding: 0 0 23px;
  border-bottom: 1px solid #dadada;
  position: relative;
}

.techs__title {
  position: relative;
  flex-grow: 460px;
  font-weight: 400;
  line-height: 58px;
  text-align: center;
  font-size: 50px;
  margin: 90px auto 0;
  letter-spacing: -2px;
}

.techs__text {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.56px;
  text-align: center;
  margin: 26px auto 0;
  max-width: 460px;
}

.techs__list {
  position: relative;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(84px, 90px));
  grid-template-rows: 60px;
  grid-auto-rows: 60px;
  gap: 10px;
  margin: 100px 0 0;
  list-style: none;
  padding: 0;
}

.techs__item {
  /* width: 100%;
  height: 100%; */
  width: 90px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #303030;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.56px;
}

@media screen and (max-width: 840px) {
  .techs {
    padding: 90px 50px 90px;
    margin-top: 90px;
  }

  .techs__title {
    margin-top: 80px;
  }

  .techs__text {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
    margin-top: 22px;
  }

  .techs__list {
    grid-template-columns: repeat(auto-fit, 84px);
    grid-template-rows: 57px;
    grid-auto-rows: 57px;
    margin-top: 84px;
  } 

  .techs__item {
    font-size: 12px;
    letter-spacing: -0.48px;
    width: 84px;
    height: 57px;
  }
}

/* @media screen and (max-width: 768px) {
  .techs {
    padding: 90px 50px;
    margin-top: 90px;
  }

  .techs__title {
    margin-top: 80px;
  }

  .techs__text {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
    margin-top: 22px;
  }
} */
