.login {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 394px;
  margin: 0 auto;
}

.login__title {
  margin: 40px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px; 
}

.login__form {
  width: 369px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.login__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
  margin-bottom: 24px;
  position: relative;
}

.login__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 5px 0 10px;
  font-style: inherit;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  color: #fff;
  border-bottom: 1px solid  #2f2f2f;
  width: 100%;
}

.entrance__input:focus{
  outline: none;
  border-bottom: 1px solid  #000 ;
}

.login__error {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  position: absolute;
  bottom: -18px;
  left: 0;
}

.login__submit-button {
  height: 45px;
  color:#fff;
  background-color: #4285F4;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-top: auto;
}

.login__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8b8b8b;
}

.login__link {
  color: #4285F4;
  text-decoration: none;
  margin-left: 6px;
}