.login {
  margin: 70px 0 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 396px;
}

.login__title {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px; 
}

.login__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
  margin-bottom: 8px;
  line-height: 30px;
  position: relative;
}

.login__input {
  font-weight: 400;
  font-size: 14px;
  padding: 15px;
  margin-bottom: 4px;
  box-sizing: border-box;
  background-color: #2f2f2f;
  border: none;
  border-radius: 8px;
  color: #fff;
  width: 100%;
  border: 1px solid transparent;
}

.login__input:focus{
  outline: none;
  border: 1px solid  #ffffff; ;
}

.login__input:invalid{
  border: 1px solid  #FF4062 ;
}

.entrance__input:focus{
  outline: none;
  border-bottom: 1px solid  #000 ;
}

.login__error {
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  color: #ee3465;
  position: absolute;
  bottom: -18px;
  left: 0;
}

.login__submit-button {
  height: 45px;
  color:#fff;
  background-color: #4285F4;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  text-align: center;
  padding: 13px 0 15px;
  margin-top: 168px;
  cursor: pointer;
  transition: .3s ease;
}

.login__submit-button:disabled,
.login__submit-button:disabled:hover {
  opacity: .5;
  cursor: default;
}

.login__submit-button:hover {
  opacity: .8;
}
.login__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8b8b8b;
}

.login__link {
  color: #4285F4;
  text-decoration: none;
  margin-left: 6px;
}

@media screen and (max-width: 768px) {
  .login {
    margin-top: 233px;
  }
}

@media screen and (max-width: 450px) {
  .login {
    width: 260px;
    align-items: center;
    margin-top: 56px;
  }

  .login__title {
    margin-top: 50px;
  }
   
  .login__form {
    margin-top: 44px;
  }

  .login__input {
    font-size: 13px;
  }

  .login__submit-button {
    margin-top: 256px;
    font-size: 12px;
  }

  .login__subtitle {
    font-size: 12px;
  }
}