.student {
  margin: 110px 70px 0;
}

.about-me {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 16px;
}

.about-me__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
  margin-right: 49px;
}

.about-me__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -2px;
  margin:49px 0 0;
}

.about-me__subtitle {
  margin: 20px 0 0; 
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.about-me__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin: 24px 0 0;
}

.about-me__contacts {
  list-style: none;
  margin: 99px 0 0;
  padding: 0;
  display: flex;
}

.about-me__contact {
  margin: 0 20px 0 0;
}

.about-me__link {
  font-weight: 500;
  font-size: 14px;
}

.about-me__photo-container {
  flex: none;
  width: 270px;
  height: 327px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 50px;
}

.about-me__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .student {
    margin: 90px 50px 0;
  }

  .about-me__title {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.6px;
  }

  .about-me__subtitle {
    font-size: 12px;
    line-height: 18px;
    margin-top: 18px;
  }

  .about-me__description {
    font-size: 12px;
    line-height: 18px;
    margin-top: 18px;
  }

  .about-me__photo-container {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 500px) {
  .student {
    margin: 141px 14px 70px;
  }

  .about-me {
    flex-direction: column-reverse;
    align-items: center;
  }

  .about-me__container {
    margin-right: 0;
  }

  .about-me__photo-container {
    width: 292px;
    height: 352px;
    margin-top: 44px;
  }

  .about-me__title {
    font-size: 30px;
    letter-spacing: -1.2px;
    margin-top: 36px;
  }

  .about-me__subtitle {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__description {
    font-size: 11px;
    line-height: 16px;
    margin-top: 21px;
  }

  .about-me__contacts {
    margin-top: 54px;
  }
  
}